# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
*.pyc
*.pyo
__pycache__/
.python-version

# Virtual environments
env/
venv/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
/media/
/staticfiles/

# Pytest
.pytest_cache/

# Coverage
.coverage
coverage.xml
htmlcov/

# Editors and IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Celery
celerybeat-schedule

# Sphinx documentation
docs/_build/

# Unit test / coverage reports
.tox/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py